/*//////////////////////GENERAL//////////////////////*/
body {
  font-family: 'Source Sans Pro', sans-serif;  
}

header {
  background: #222;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  color: #eee;
  margin: 0;
  padding: 1.5%;
}

footer {
  padding: 0 2%;
  max-width: 425px;
  margin: 0 auto;
}

/*//////////////////////HYPERLINKS//////////////////////*/

a:link,
a:visited {
  color: #8cc0b0;
  text-decoration: none;
}

a:hover {
  color: #188060;
}

a:focus {
  text-decoration: underline;
}

/*//////////////////////BODY TAGS//////////////////////*/

.body-h1 {
  color: #222;
  padding: 15px 0 0 0;
  width: 100%;
}

.margin-auto {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 2%;
  }

.copyright {
  text-align: center;
}


/*//////////////////////MEDIA QUERIES//////////////////////*/

@media screen and (max-width: 768px) {
  #hb{
    background:none;
    position:absolute;
    top:0;
    right:0;
    padding: 2% 1.5%;
    color:#eee;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  #x{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding: 2% 1.5%;
    color:#eee;
    border:0;
    font-size:3em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  #menu {
    display: block;
    clear:left;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10000000000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: .99;
  }

  #menu li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
    background: #f6f6f6;
  }

  #menu li:hover {
    background: #fff;
  }
  
  .margin-auto {
    max-width: 660px;
  }

}

@media screen and (min-width: 768px) {
  header {
    display: inline-block;
  }
  h1 {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    width: 24%;
  }
  
  #menu {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    clear: left;
    list-style: none;
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
  }
  
  li {
    display: inline;
    list-style: none;
  }
  
  #menu li a {
    padding: 15px 2.5%;
  }
  
  .margin-auto {
    max-width: 660px;
  }
  
}

@media screen and (min-width: 1240px) {
/*    #menu {
     width: 85%;  
   }
   */
}
